In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import itertools

# Для работы с матрицами
from scipy.sparse import csr_matrix, coo_matrix

# Матричная факторизация
from implicit.als import AlternatingLeastSquares
from implicit.nearest_neighbours import bm25_weight, tfidf_weight

from lightfm import LightFM
from lightfm.evaluation import precision_at_k, recall_at_k

# Функции из 1-ого вебинара
# import os, sys

# module_path = os.path.abspath(os.path.join(os.pardir))
# if module_path not in sys.path:
#     sys.path.append(module_path)
    
# from metrics import precision_at_k, recall_at_k
from utils import prefilter_items

/Users/AShipkov/opt/anaconda3/lib/python3.8/site-packages/lightfm/_lightfm_fast.py:9: UserWarning: LightFM was compiled without OpenMP support. Only a single thread will be used.
  warnings.warn(

In [2]:
data = pd.read_csv('retail_train.csv')
item_features = pd.read_csv('product.csv')
user_features = pd.read_csv('hh_demographic.csv')

# column processing
item_features.columns = [col.lower() for col in item_features.columns]
user_features.columns = [col.lower() for col in user_features.columns]

item_features.rename(columns={'product_id': 'item_id'}, inplace=True)
user_features.rename(columns={'household_key': 'user_id'}, inplace=True)

# train test split
test_size_weeks = 3

data_train = data[data['week_no'] < data['week_no'].max() - test_size_weeks]
data_test = data[data['week_no'] >= data['week_no'].max() - test_size_weeks]

data_train.head(5)

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
0,2375,26984851472,1,1004906,1,1.39,364,-0.60,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.00,1631,1,0.0,0.0
2,2375,26984851472,1,1036325,1,0.99,364,-0.30,1631,1,0.0,0.0
3,2375,26984851472,1,1082185,1,1.21,364,0.00,1631,1,0.0,0.0
4,2375,26984851472,1,8160430,1,1.50,364,-0.39,1631,1,0.0,0.0

In [3]:
item_features.head(5)

,item_id,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product
0,25671,2,GROCERY,National,FRZN ICE,ICE - CRUSHED/CUBED,22 LB
1,26081,2,MISC. TRANS.,National,NO COMMODITY DESCRIPTION,NO SUBCOMMODITY DESCRIPTION,
2,26093,69,PASTRY,Private,BREAD,BREAD:ITALIAN/FRENCH,
3,26190,69,GROCERY,Private,FRUIT - SHELF STABLE,APPLE SAUCE,50 OZ
4,26355,69,GROCERY,Private,COOKIES/CONES,SPECIALTY COOKIES,14 OZ

In [4]:
user_features.head(5)

,age_desc,marital_status_code,income_desc,homeowner_desc,hh_comp_desc,household_size_desc,kid_category_desc,user_id
0,65+,A,35-49K,Homeowner,2 Adults No Kids,2,None/Unknown,1
1,45-54,A,50-74K,Homeowner,2 Adults No Kids,2,None/Unknown,7
2,25-34,U,25-34K,Unknown,2 Adults Kids,3,1,8
3,25-34,U,75-99K,Homeowner,2 Adults Kids,4,2,13
4,45-54,B,50-74K,Homeowner,Single Female,1,None/Unknown,16

In [5]:
#FILTER ITEMS
n_items_before = data_train['item_id'].nunique()

data_train_filtered = prefilter_items(data_train, take_n_popular=5000, item_features=item_features)

n_items_after = data_train_filtered['item_id'].nunique()
print('Decreased # items from {} to {}'.format(n_items_before, n_items_after))

Decreased # items from 86865 to 5001

In [6]:
#PREPARE DATASET
user_item_matrix = pd.pivot_table(data_train, 
                                  index='user_id', columns='item_id', 
                                  values='quantity', # Можно пробоват ьдругие варианты
                                  aggfunc='count', 
                                  fill_value=0
                                 )

user_item_matrix = user_item_matrix.astype(float) # необходимый тип матрицы для implicit

# переведем в формат saprse matrix
sparse_user_item = csr_matrix(user_item_matrix).tocsr()

user_item_matrix.head(2)

item_id,25671,26081,26093,26190,26355,26426,26540,26601,26636,26691,...,17328742,17329473,17329749,17330255,17330511,17381856,17382205,17383227,17827644,17829232
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
data_test = data_test[data_test['item_id'].isin(data_train['item_id'].unique())] #только те, кто есть в трейне!!
test_user_item_matrix = pd.pivot_table(data_test, 
                                  index='user_id', columns='item_id', 
                                  values='quantity', # Можно пробоват ьдругие варианты
                                  aggfunc='count', 
                                  fill_value=0
                                 )

test_user_item_matrix = test_user_item_matrix.astype(float) # необходимый тип матрицы для implicit

In [8]:
userids = user_item_matrix.index.values
itemids = user_item_matrix.columns.values

matrix_userids = np.arange(len(userids))
matrix_itemids = np.arange(len(itemids))

id_to_itemid = dict(zip(matrix_itemids, itemids))
id_to_userid = dict(zip(matrix_userids, userids))

itemid_to_id = dict(zip(itemids, matrix_itemids))
userid_to_id = dict(zip(userids, matrix_userids))

### Prepare user and item features

In [9]:
user_feat = pd.DataFrame(user_item_matrix.index)
user_feat = user_feat.merge(user_features, on='user_id', how='left')
user_feat.set_index('user_id', inplace=True)
user_feat.head(5)

,age_desc,marital_status_code,income_desc,homeowner_desc,hh_comp_desc,household_size_desc,kid_category_desc
user_id,,,,,,,
1,65+,A,35-49K,Homeowner,2 Adults No Kids,2,None/Unknown
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
item_feat = pd.DataFrame(user_item_matrix.columns)
item_feat = item_feat.merge(item_features, on='item_id', how='left')
item_feat.set_index('item_id', inplace=True)
item_feat.head(5)

,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product
item_id,,,,,,
25671,2,GROCERY,National,FRZN ICE,ICE - CRUSHED/CUBED,22 LB
26081,2,MISC. TRANS.,National,NO COMMODITY DESCRIPTION,NO SUBCOMMODITY DESCRIPTION,
26093,69,PASTRY,Private,BREAD,BREAD:ITALIAN/FRENCH,
26190,69,GROCERY,Private,FRUIT - SHELF STABLE,APPLE SAUCE,50 OZ
26355,69,GROCERY,Private,COOKIES/CONES,SPECIALTY COOKIES,14 OZ

In [11]:
user_feat_lightfm = pd.get_dummies(user_feat, columns=user_feat.columns.tolist())
item_feat_lightfm = pd.get_dummies(item_feat, columns=item_feat.columns.tolist())

### MODEL

In [12]:
model = LightFM(no_components=30,
#                 loss='bpr',
                loss='warp',
                learning_rate=0.05, 
                item_alpha=0.1,
                user_alpha=0.1, 
                random_state=42)

In [13]:
%%time
model.fit((sparse_user_item > 0) * 1,  # user-item matrix из 0 и 1
          sample_weight=coo_matrix(user_item_matrix),
          user_features=csr_matrix(user_feat_lightfm.values).tocsr(),
          item_features=csr_matrix(item_feat_lightfm.values).tocsr(),
          epochs=15, 
          num_threads=4,
          verbose=False)

CPU times: user 3min 42s, sys: 7.67 s, total: 3min 50s
Wall time: 3min 58s

In [14]:
user_emb = model.get_user_representations(features=csr_matrix(user_feat_lightfm.values).tocsr())

In [15]:
item_emb = model.get_item_representations(features=csr_matrix(item_feat_lightfm.values).tocsr())

In [16]:
train_precision = precision_at_k(model, sparse_user_item, 
                                 user_features=csr_matrix(user_feat_lightfm.values).tocsr(),
                                 item_features=csr_matrix(item_feat_lightfm.values).tocsr(),
                                 k=5).mean()

train_precision

0.051700678

In [17]:
test_item_ids = np.array([1, 2, 3, 200, 1200])

predictions = model.predict(user_ids=0, item_ids=test_item_ids,
                            user_features=csr_matrix(user_feat_lightfm.values).tocsr(),
                            item_features=csr_matrix(item_feat_lightfm.values).tocsr(),
                            num_threads=4)
predictions

array([-94.74061, -94.18075, -94.21038, -94.52779, -94.16204],
      dtype=float32)

In [18]:
csr_matrix(test_user_item_matrix).tocsr()

<2041x22143 sparse matrix of type '<class 'numpy.float64'>'
	with 102088 stored elements in Compressed Sparse Row format>

In [19]:
test_precision = precision_at_k(model, csr_matrix(test_user_item_matrix).tocsr(), 
                                 user_features=csr_matrix(user_feat_lightfm.values).tocsr(),
                                 item_features=csr_matrix(item_feat_lightfm.values).tocsr(),
                                 k=5).mean()

test_precision

0.0022537974

Precision понизился

### MODEL BPR

In [20]:
model_bpr = LightFM(no_components=30,
                loss='bpr',
#                 loss='warp',
                learning_rate=0.05, 
                item_alpha=0.1,
                user_alpha=0.1, 
                random_state=42)

In [21]:
%%time
model_bpr.fit((sparse_user_item > 0) * 1,  # user-item matrix из 0 и 1
          sample_weight=coo_matrix(user_item_matrix),
          user_features=csr_matrix(user_feat_lightfm.values).tocsr(),
          item_features=csr_matrix(item_feat_lightfm.values).tocsr(),
          epochs=15, 
          num_threads=4,
          verbose=False)

CPU times: user 6min 31s, sys: 3.81 s, total: 6min 34s
Wall time: 6min 43s

In [22]:
train_precision_bpr = precision_at_k(model_bpr, sparse_user_item, 
                                 user_features=csr_matrix(user_feat_lightfm.values).tocsr(),
                                 item_features=csr_matrix(item_feat_lightfm.values).tocsr(),
                                 k=5).mean()

train_precision_bpr

0.0

Precision снизился до нуля ?! (Возсможно не используют для этих целей)

### PARAMS SEARCH

In [23]:
l2 = [0.01, 0.05, 0.1]
learning_rate = [0.01, 0.05, 0.1]
max_sampled = [7, 10, 12]

In [24]:
%%time
metrics = {}
for l, lr, ms in itertools.product(l2, learning_rate, max_sampled):
    print(l, lr, ms)
    
    model = LightFM(no_components=30, loss='warp', item_alpha=l, user_alpha=l, random_state=42, learning_rate = lr, max_sampled = ms)
    
    model.fit((sparse_user_item > 0) * 1, sample_weight=coo_matrix(user_item_matrix), user_features=csr_matrix(user_feat_lightfm.values).tocsr(), item_features=csr_matrix(item_feat_lightfm.values).tocsr(), epochs=10, num_threads=4, verbose=10) 
    
    test_precision = precision_at_k(model, csr_matrix(test_user_item_matrix).tocsr(), user_features=csr_matrix(user_feat_lightfm.values).tocsr(), item_features=csr_matrix(item_feat_lightfm.values).tocsr(), k=5).mean()
    metrics[str(l) + str(lr) + str(ms)] = test_precision

0.01 0.01 7

Epoch: 100%|██████████| 10/10 [01:46<00:00, 10.65s/it]

0.01 0.01 10

Epoch: 100%|██████████| 10/10 [01:49<00:00, 10.92s/it]

0.01 0.01 12

Epoch: 100%|██████████| 10/10 [01:50<00:00, 11.08s/it]

0.01 0.05 7

Epoch: 100%|██████████| 10/10 [01:43<00:00, 10.34s/it]

0.01 0.05 10

Epoch: 100%|██████████| 10/10 [01:50<00:00, 11.03s/it]

0.01 0.05 12

Epoch: 100%|██████████| 10/10 [01:49<00:00, 10.96s/it]

0.01 0.1 7

Epoch: 100%|██████████| 10/10 [01:44<00:00, 10.44s/it]

0.01 0.1 10

Epoch: 100%|██████████| 10/10 [01:49<00:00, 10.95s/it]

0.01 0.1 12

Epoch: 100%|██████████| 10/10 [01:51<00:00, 11.11s/it]

0.05 0.01 7

Epoch: 100%|██████████| 10/10 [01:45<00:00, 10.52s/it]

0.05 0.01 10

Epoch: 100%|██████████| 10/10 [01:49<00:00, 10.95s/it]

0.05 0.01 12

Epoch: 100%|██████████| 10/10 [01:49<00:00, 10.97s/it]

0.05 0.05 7

Epoch: 100%|██████████| 10/10 [01:44<00:00, 10.44s/it]

0.05 0.05 10

Epoch: 100%|██████████| 10/10 [01:50<00:00, 11.07s/it]

0.05 0.05 12

Epoch: 100%|██████████| 10/10 [01:50<00:00, 11.09s/it]

0.05 0.1 7

Epoch: 100%|██████████| 10/10 [01:44<00:00, 10.42s/it]

0.05 0.1 10

Epoch: 100%|██████████| 10/10 [01:49<00:00, 10.93s/it]

0.05 0.1 12

Epoch: 100%|██████████| 10/10 [01:52<00:00, 11.21s/it]

0.1 0.01 7

Epoch: 100%|██████████| 10/10 [01:45<00:00, 10.53s/it]

0.1 0.01 10

Epoch: 100%|██████████| 10/10 [01:48<00:00, 10.88s/it]

0.1 0.01 12

Epoch: 100%|██████████| 10/10 [01:50<00:00, 11.05s/it]

0.1 0.05 7

Epoch: 100%|██████████| 10/10 [01:45<00:00, 10.54s/it]

0.1 0.05 10

Epoch: 100%|██████████| 10/10 [01:47<00:00, 10.71s/it]

0.1 0.05 12

Epoch: 100%|██████████| 10/10 [01:50<00:00, 11.02s/it]

0.1 0.1 7

Epoch: 100%|██████████| 10/10 [01:45<00:00, 10.59s/it]

0.1 0.1 10

Epoch: 100%|██████████| 10/10 [01:50<00:00, 11.06s/it]

0.1 0.1 12

Epoch: 100%|██████████| 10/10 [01:51<00:00, 11.11s/it]

CPU times: user 1h 39min 51s, sys: 1min 59s, total: 1h 41min 50s
Wall time: 1h 44min 22s

In [26]:
pd.DataFrame.from_dict(metrics, orient='index', columns = ['precision']).sort_values(by = 'precision', ascending = False).head(10)

            precision
0.10.110     0.003920
0.10.057     0.003234
0.010.17     0.002744
0.010.110    0.002646
0.10.17      0.002646
0.050.110    0.002450
0.010.0110   0.002352
0.010.057    0.002352
0.010.0510   0.002352
0.010.0512   0.002352

In [ ]:
Вывод: Максимальный precision получен при l2 0.1, идет рост при увеличении l2.